<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>Title</title>
  <meta name="description" content="" />
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <meta property="og:title" content="Slides – Create and share presentations online" />
  <meta property="og:description" content="Slides is a place for creating, presenting and sharing presentations. The Slides editor is available right in your browser. Unlike traditional presentation software, like PowerPoint, there&#39;s no need to download anything." />
  <meta property="og:site_name" content="Slides" />
  <meta property="og:image" content="https://s3.amazonaws.com/static.slid.es/logo/slides-logo-495x479.png" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://slides.com/" />
  <meta property="fb:app_id" content="146002942236376" />

  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <meta name="msapplication-tap-highlight" content="no" />

  <!-- @if env='production' -->
  <script src="/js/manifest.js"></script>
  <script src="/js/vendor.js"></script>
  <!-- @endif -->
</head>
<body>
  <link rel="stylesheet" href="/css/test/test.css">
  <h1><%= title %></h1>
  <p>EJS Welcome to <%= title %></p>

  <div id="app">
  </div>
  testtest123123



  <script src="/js/main.js"></script>
</body>
</html>
